* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: calc(100% - 20rem);
  margin: 0 auto;
  text-align: center;
}

footer{
  border-top: 1px solid black;
  font-size: 0.9em;
  text-align: center;
  padding: 16px;
}